:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #root {
    width: 100vw;
    height: 100vh;
    background: transparent;
    overflow: hidden;
  }
}
