:global {
  .live2d-widget {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-app-region: drag;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .live2d-canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}
